.bs-form {
    padding: 5rem;
    border-width: 0.2rem;
    width: 50%;
    margin: auto;
}

#errorMsg {
    width: 50%;
    margin: auto;
}

#nav-tab {
    width: 70%;
    margin: auto;
}
#nav-tabContent {
    width: 70%;
    margin: auto;
}
#container1 {
    /*width: 70%;*/
    margin: auto;
}
#container2 {
    /*width: 70%;*/
    margin: auto;
}