body {
    max-width: 1500px;
    margin: auto;
}
.bs-form {
    padding: 2rem;
    border-width: 0.2rem;
    margin: auto;
}
h3 {
    padding: 1rem;
}

.input-group-append {
    display: inline-block;
}


#errorMsg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    z-index: 999;
}

#container1 {
    width: 90%;
    margin: auto;
}
#container2 {
    width: 90%;
    margin: auto;
}
#container3 #container4 #container5 {
    width: 90%;
    margin: auto;
}
#container6 #container7 {
    width: 90%;
    margin: auto;
}
.empty-5 {
    margin-bottom: 5rem;
}
.empty-2 {
    margin-bottom: 2rem;
}