body {
    max-width: 1000px;
    margin: auto;
}
.bs-form {
    padding: 5rem;
    border-width: 0.2rem;
    margin: auto;
}

#errorMsg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    z-index: 999;
}

#container1 {
    width: 90%;
    margin: auto;
}
#container2 {
    width: 90%;
    margin: auto;
}
#container3 {
    width: 90%;
    margin: auto;
}
#container4 {
    width: 90%;
    margin: auto;
}
.empty-5 {
    margin-bottom: 5rem;
}
.empty-2 {
    margin-bottom: 2rem;
}