body {
    max-width: 1000px;
    margin: auto;
}
.bs-form {
    padding: 5rem;
    border-width: 0.2rem;
    margin: auto;
}

#errorMsg {
    width: 70%;
    margin: auto;
}

#container1 {
    width: 70%;
    margin: auto;
}
#container2 {
    width: 70%;
    margin: auto;
}
#container3 {
    width: 70%;
    margin: auto;
}
#container4 {
    width: 70%;
    margin: auto;
}
.empty-5 {
    margin-bottom: 5rem;
}
.empty-2 {
    margin-bottom: 2rem;
}